.contacts__list {
    width: 364px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
    margin-bottom: 170px;
}

.contacts__link {
    width: 50px;
    height: 50px;
}

.contacts__link--github {
    background: url(../img/github-icon.svg) center no-repeat;
    background-size: contain;
}

.contacts__link--vk {
    background: url(../img/vk-icon.svg) center no-repeat;
    background-size: contain;
}

.contacts__link--inst {
    background: url(../img/inst-icon.svg) center no-repeat;
    background-size: contain;
}

@media (max-width: $tablet-width) {
    .contacts__list  {
        margin: 40px auto 40px auto;
    }
}

@media (max-width: $mobile-width) {
    .contacts__list  {
        margin: 40px auto 40px auto;
    }
}