.projects {
    background-color: $main-color;
}

.projects__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects__image {
    width: calc(100%/3);
    height: 100%;
}