.projects {
    background-color: $main-color;;
}

.projects__images {
    
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.projects__item {
    position: relative;
    width: calc(100%/3);
}

.projects__link {
    
}

.projects__image {
    width: 100%;
    display: block;
}

.projects__info {
    position: absolute;
    top: 0;
    left: 40%;
    color: #ffffff;
}

.projects__title {
    // margin: 0;
    // padding: 0;
    text-align: center;
}

.projects__description {
    // margin: 0;
    // padding: 0;
}